In [5]:
import pandas as pd
import sqlite3

In [6]:
conn = sqlite3.connect('data.sqlite')

In [7]:
query = "SELECT * FROM users;"
 
df = pd.read_sql_query(query,conn)

In [8]:
df

   username  id                 email phone_number   Roll_no1   Roll_no2
0  Mankaran   1  mankaran32@gmail.com   9872901791  101803444  101803443